<h1>Inventory</h1>
<table>
  <th>Artist</th>
  <th>Title</th>
  <th>Genre</th>
  <th>Price</th>
  <th>Quantity</th>
  <th>Stock Level</th>

<%for album in @albums   %>
<tr>
  <td><%= album.artist.name %></td>
  <td><%= album.title %></td>
  <td><%= album.genre.type %></td>
  <td><%= album.price_as_pounds %></td>
  <td><%= album.quantity %></td>
  <td class="<%= album.stock_level %>"><%= album.stock_level %></td>
</tr>
<%end  %>

<a href="/">home</a>
</table>
    